# Proyecto EDA: Airbnb  
**Autor:** scar Fern谩ndez-Chinchilla L贸pez

![Logo Airbnb](../images/airbnb-logo.png)

#  ndice

   1. [Carga de datos](#carga-de-datos)

      - [Importaci贸n del librerias y dependencias](#imporatacion-librerias)
      - [Importaci贸n del dataset](#imporatacion-dataset)
      - [Revision de dimensiones y filas](#revision)
      - [Inspecci贸n de tipos de datos](#inspeccion-datos)

2. [Exploraci贸n del dataset](#exploracion)

3. [Tareas obligatorias](#tareas-obligatorias)

   3.1 [Carga del dataset](#carga-del-dataset)  
   3.2 [Exploraci贸n del dataset](#exploracion-del-dataset)  
   3.3 [Limpieza y normalizaci贸n](#limpieza-y-normalizacion)  
   3.4 [Visualizaciones b谩sicas](#visualizaciones-basicas)  
   3.5 [Conclusiones exploratorias](#conclusiones-exploratorias)

<a id="imporatacion-librerias"></a>
# Importaci贸n de librerias
### Para el proyecto utilizare librerias como pandas y numpy entre otras.

In [2]:
import pandas as pd
import numpy as np

<a id="imporatacion-dataset"></a>
# Importaci贸n del dataset

In [3]:
airbnb_df = pd.read_csv("../data/Airbnb_Open_Data.csv", low_memory=False) # A帽ado el parametro low_memory para que no salga el aviso de datos mezclados del csv

<a id="revision"></a>
# Comprobaci贸n inicial de las dimensiones del dataset

In [4]:
# Compruebo las dimensiones del dataframe
airbnb_df.shape

(102599, 26)

In [ ]:
# Muestro las primeras 3 filas para comprobar como estan las columnas y filas del dataset en crudo y a primera vista
airbnb_df.head(3)

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN

In [8]:
# Muestro todas las columnas del dataframe
airbnb_df.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

<a id="inspeccion-datos"></a>
# Inspecci贸n de datos b谩sico

In [ ]:
# Muestro el tipo de datos que contiene cada columna para verificar si alguna no tiene el tipo que deberia
airbnb_df.dtypes

id                                  int64
NAME                               object
host id                             int64
host_identity_verified             object
host name                          object
neighbourhood group                object
neighbourhood                      object
lat                               float64
long                              float64
country                            object
country code                       object
instant_bookable                   object
cancellation_policy                object
room type                          object
Construction year                 float64
price                              object
service fee                        object
minimum nights                    float64
number of reviews                 float64
last review                        object
reviews per month                 float64
review rate number                float64
calculated host listings count    float64
availability 365                  float64
house_rules                        object
license                            object
dtype: object

<a id="exploraci贸n"></a>
# Exploraci贸n del dataset
### En este apartado exploraremos todas las columnas para comprobar cual contiene duplicados, nulos y columnas irrelevantes para el an谩lisis y asi luego proceder con la limpieza del dataset.

In [ ]:
# Comprobamos la columna de Id para ver si contiene duplicados
airbnb_df["id"].duplicated().sum()

np.int64(541)

In [72]:
# Sacamos los valores duplicados y los ordenamos por id para ver si son exactamente el mismo anuncio
airbnb_df[airbnb_df["id"].duplicated(keep=False)].sort_values("id").head(2)

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
9098,6026161,Upper East Side 2 bedroom- close to Hospitals-,65193709566,verified,Juliana,Manhattan,Upper East Side,40.76222,-73.9603,United States,...,$21,30.0,2.0,6/8/2019,0.21,3.0,34.0,157.0,NaN,NaN
102474,6026161,Upper East Side 2 bedroom- close to Hospitals-,65193709566,verified,Juliana,Manhattan,Upper East Side,40.76222,-73.9603,United States,...,$21,30.0,2.0,6/8/2019,0.21,3.0,34.0,157.0,NaN,NaN

## Comprobaci贸n de duplicados, nulos y tipos de cada columna
### Para no realizar el paso anterior 2 veces por columna, creamos el siguiente dataframe para que nos de toda la informacion de una sola vez.

In [87]:
airbnb_exploratory = pd.DataFrame({
        "nulos" : airbnb_df.isna().sum(),
        "duplicados" : airbnb_df.apply(lambda columna: columna.duplicated().sum()),
        "tipo" : airbnb_df.dtypes
})
airbnb_exploratory

                                 nulos  duplicados     tipo
id                                   0         541    int64
NAME                               250       41317   object
host id                              0         542    int64
host_identity_verified             289      102596   object
host name                          406       89408   object
neighbourhood group                 29      102591   object
neighbourhood                       16      102374   object
lat                                  8       80607  float64
long                                 8       84824  float64
country                            532      102597   object
country code                       131      102597   object
instant_bookable                   105      102596   object
cancellation_policy                 76      102595   object
room type                            0      102595   object
Construction year                  214      102578  float64
price                              247      101447   object
service fee                        273      102367   object
minimum nights                     409      102445  float64
number of reviews                  183      102122  float64
last review                      15893      100121   object
reviews per month                15879      101582  float64
review rate number                 326      102593  float64
calculated host listings count     319      102520  float64
availability 365                   448      102160  float64
house_rules                      52131      100622   object
license                         102597      102597   object

## Comprobaci贸n del rango de todas las variables num茅ricas del dataset

In [ ]:
# Utilizo describe porque aporta toda la informacion como m谩ximo, m铆nimo, media, etc.
airbnb_df.describe().round(2)

,id,host id,lat,long,Construction year,minimum nights,number of reviews,reviews per month,review rate number,calculated host listings count,availability 365
count,102599.00,1.025990e+05,102591.00,102591.00,102385.00,102190.00,102416.00,86720.00,102273.00,102280.00,102151.00
mean,29146234.52,4.925411e+10,40.73,-73.95,2012.49,8.14,27.48,1.37,3.28,7.94,141.13
std,16257505.61,2.853900e+10,0.06,0.05,5.77,30.55,49.51,1.75,1.28,32.22,135.44
min,1001254.00,1.236005e+08,40.50,-74.25,2003.00,-1223.00,0.00,0.01,1.00,1.00,-10.00
25%,15085814.50,2.458333e+10,40.69,-73.98,2007.00,2.00,1.00,0.22,2.00,1.00,3.00
50%,29136603.00,4.911774e+10,40.72,-73.95,2012.00,3.00,7.00,0.74,3.00,1.00,96.00
75%,43201198.00,7.399650e+10,40.76,-73.93,2017.00,5.00,30.00,2.00,4.00,2.00,269.00
max,57367417.00,9.876313e+10,40.92,-73.71,2022.00,5645.00,1024.00,90.00,5.00,332.00,3677.00

## Incoherencias que se pueden observar (con los pasos anteriores):
- Hay anuncios de pisos que estan duplicados 
- Columnas como "price" y "service fee" aparecen como objeto y no como integer o float 
- La columna de "license" esta completamente llena de nulos 
- La mitad de la columna "house_rules" aparece como nula

# Para seguir buscando incoherencias, analizar茅 individualmente algunas columnas

In [ ]:
# Dado que la disponibilidad se comprende de 0 a 365 dias, buscamos si hay filas con valores negativos en esta columna
airbnb_df[(airbnb_df["availability 365"] < 0)].shape

(432, 26)

In [ ]:
# Lo mismo ocurre si hay filas con valores de disponibilidad superiores a 365
airbnb_df[(airbnb_df["availability 365"] > 365)].shape

(2782, 26)

In [ ]:
# Debe haber al menos un minimo de noches para hospedarse, por lo que el valor no puede ser negativo o 0
airbnb_df[(airbnb_df["minimum nights"] <= 0)].shape

(13, 26)

In [ ]:
# No puede haber un numero total de reviews sin que tenga una media de reviews por mes
airbnb_df[(airbnb_df["number of reviews"] > 0) & (airbnb_df["reviews per month"] <= 0)].shape

(0, 26)

In [ ]:
# Se aplica viceversa que la celda anterior, no puedes tener una media de reviews por mes con un total de 0 reviews o negativo
airbnb_df[(airbnb_df["reviews per month"] > 0) & (airbnb_df["number of reviews"] <= 0)].shape

(0, 26)